<a href="https://colab.research.google.com/github/RobSpiewakowski/Public_repository/blob/main/SDS_Modu%C5%82_3_Praca_domowa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modul 3 - Praca domowa - Python

Zwykle istnieje wiele sposobów, żeby rozwiązać zadanie w Python. Także czasami warto spróbować opracować kod na 1-2 sposoby :)

## Zadanie - 1

Zadanie opiera się na danych z informacją o wyjściu statków z portu Gdańsk w okresie 2005-06.2020 ([Więcej o Danych](https://bit.ly/30HkRgS)).<br> Kroki:
* Wczytać zbiór danych w formacie `.csv`
* Wyświetlić listę kolumn ze zbioru
* Wyświetlić pierwsze 10 wierszy z wczytanego zbioru danych<br>
<br>![statek](https://media.giphy.com/media/o0eOCNkn7cSD6/giphy.gif)<br>
---
Wskazówka: uważaj na kodowanie plików. Zalecane wykorzystywanie `UTF-8`. Plik źródłowy ma błędne kodowanie, dlatego został ponownie zapisany w formacie `.csv` z separatorem ";".

---

Wczytaj dane w formacie `.csv` z separatorem `;` wykorzystując link: <br>https://akademiadatascience.s3-eu-west-1.amazonaws.com/materialy/sds/modul3/statki.csv

In [6]:
import pandas as pd

URL = 'https://akademiadatascience.s3-eu-west-1.amazonaws.com/materialy/sds/modul3/statki.csv'
dane = pd.read_csv(URL, delimiter = ';')
dane.head(10)

  Kod portu \n  ... Nabrzeże (miejsce zacumowania)
0        PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1        PLGDN  ...                   WESTERPLATTE
2        PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4        PLGDN  ...                   WESTERPLATTE
5        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
6        PLGDN  ...               BPPP JETTY " R "
7        PLGDN  ...                       CHEMIKÓW
8        PLGDN  ...                   WESTERPLATTE
9        PLGDN  ...           NAB SZCZECIŃSKIE GTK

[10 rows x 12 columns]

Usuń tabulatory w nazwach kolumn, bazując na wcześniej wczytanej tabeli.

In [23]:
dane = dane.rename(columns = {'Kod portu \n' : 'Kod portu',
                       'Data wyjścia (rrrr-mm-dd)' : 'Data wyjścia (rrrr-mm-dd)',
                       'Godzina wyjścia\n(hh:mm)': 'Godzina wyjścia (hh-mm)',
                       'Kod portu, \nprzeznaczenia': 'Kod portu przeznaczenia',
                       'Nazwa statku': 'Nazwa statku',
                       'Bandera': 'Bandera',
                       'nr IMO': 'nr IMO',
                       'Sygnał wywoławczy': 'Sygnał Wywoławczy',
                       'Pojemność brutto \n(tony)': 'Pojemność brutto (tony)',
                       'Długość (metry)': 'Długość (metry)',
                       'Agent': 'Agent',
                       'Nabrzeże (miejsce zacumowania)': 'Nabrzeże (miejsce zacumowania)'})

dane.head(10)

  Kod portu  ... Nabrzeże (miejsce zacumowania
0     PLGDN  ...         NAB. SZCZECIŃSKIE GTK
1     PLGDN  ...                  WESTERPLATTE
2     PLGDN  ...         PRZEMYSŁOWE / WIŚLANE
3     PLGDN  ...      OBROŃCÓW POCZTY POLSKIEJ
4     PLGDN  ...                  WESTERPLATTE
5     PLGDN  ...      OBROŃCÓW POCZTY POLSKIEJ
6     PLGDN  ...              BPPP JETTY " R "
7     PLGDN  ...                      CHEMIKÓW
8     PLGDN  ...                  WESTERPLATTE
9     PLGDN  ...          NAB SZCZECIŃSKIE GTK

[10 rows x 12 columns]

## Zadanie - 2

Sprawdź rozmiar tabeli oraz typy danych wg. kolumn.

In [24]:
dane.shape

(11490, 12)

In [25]:
dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11490 entries, 0 to 11489
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Kod portu                      11490 non-null  object
 1   Data wyjścia (rrrr-mm-dd)      11490 non-null  object
 2   Godzina wyjścia (hh-mm)        11490 non-null  object
 3   Kod portu,
przeznaczenia      11490 non-null  object
 4   Nazwa statku                   11490 non-null  object
 5   Bandera                        11490 non-null  object
 6   nr IMO                         11490 non-null  object
 7   Sygnał Wywoławczy              11490 non-null  object
 8   Pojemność brutto (tony)        11490 non-null  int64
 9   Długość (metry)                11490 non-null  object
 10  Agent                          11490 non-null  object
 11  Nabrzeże (miejsce zacumowania  11490 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.1+ MB

## Zadanie - 3

Wyświetl nazwę kolumny oraz pierwszą wartość z tej kolumny, przy czym połączenie nazwa kolumny - pierwsza wartość ma być wyświetlone w nowym wierszu odpowiednio.

In [26]:
for i in range(len(dane.columns)):
  print(dane.columns[i])

Kod portu
Data wyjścia (rrrr-mm-dd)
Godzina wyjścia (hh-mm)
Kod portu,
przeznaczenia
Nazwa statku
Bandera
nr IMO
Sygnał Wywoławczy
Pojemność brutto (tony)
Długość (metry)
Agent
Nabrzeże (miejsce zacumowania

## Zadanie - 4

Zmień typ danych dla kolumn:<br><br>
* `Data wyjścia (rrrr-mm-dd)` na `date` uzywając funkcji: `pd.to_datetime(data, format = "%d.%m.%Y")`<br><br>

Na wartości numeryczne używając funkcji: `pd.to_numeric(liczba, errors = "coerce")` <br>gdzie `coerce` wymusza zamianę nieprawidłowych wartości na NaN:<br>
* `nr IMO` 
* `Długość (metry)`

In [36]:
dane['Data wyjścia (rrrr-mm-dd)'] = pd.to_datetime(dane['Data wyjścia (rrrr-mm-dd)'], format = "%d.%m.%Y")
dane['nr IMO'] = pd.to_numeric(dane['nr IMO'], errors = 'coerce')
dane['Pojemność brutto (tony)'] = pd.to_numeric(dane['Pojemność brutto (tony)'], errors = 'coerce')
dane['Długość (metry)'] = pd.to_numeric(dane['Długość (metry)'], errors = 'coerce')

Sprawdź jaki jest efekt zmian:

In [37]:
dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11490 entries, 0 to 11489
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Kod portu                      11490 non-null  object
 1   Data wyjścia (rrrr-mm-dd)      11490 non-null  datetime64[ns]
 2   Godzina wyjścia (hh-mm)        11490 non-null  object
 3   Kod portu,
przeznaczenia      11490 non-null  object
 4   Nazwa statku                   11490 non-null  object
 5   Bandera                        11490 non-null  object
 6   nr IMO                         11168 non-null  float64
 7   Sygnał Wywoławczy              11490 non-null  object
 8   Pojemność brutto (tony)        11490 non-null  int64
 9   Długość (metry)                11488 non-null  float64
 10  Agent                          11490 non-null  object
 11  Nabrzeże (miejsce zacumowania  11490 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 1.1+ MB

## Zadanie - 5

Obetnij zbiór do 10000 wierszy:

In [39]:
dane = dane.head(10000)
dane.shape

(10000, 12)

Sprawdź podstawowe statystyki co do długości statków dodatkowo agregując wynik wg. kolumny Bandera (*przynależność państwowa statku*).

In [40]:
dane.groupby('Bandera')['Długość (metry)'].describe()

                     count        mean         std  ...     50%       75%       max
Bandera                                             ...
Anguilla               1.0   73.660000         NaN  ...   73.66   73.6600     73.66
Antigua and Barbuda  768.0  174.439076  783.604384  ...  137.50  152.0000  15808.00
Bahamas              152.0  204.697237   67.689633  ...  244.65  253.0000    334.45
Barbados               5.0   79.752000    1.927491  ...   78.89   78.8900     83.20
Belgium                4.0  133.642500   94.247735  ...   89.98  136.1925    274.83
...                    ...         ...         ...  ...     ...       ...       ...
Sweden               588.0  197.705595  805.693386  ...  149.95  155.4700  14401.00
Turkey                 6.0  164.421667   55.990485  ...  144.05  173.9525    269.19
United Kingdom       219.0  160.785890   61.360357  ...  139.50  161.0000    366.00
United States         34.0  185.374118   67.669120  ...  155.00  202.2350    399.00
Vanuatu                7.0  172.504286   62.642747  ...  199.52  228.5300    228.53

[61 rows x 8 columns]

Wg. przynależności państwowej statków, skąd są **średnio** **najdłuższe statki**, które wychodzą z portu Gdańsk? (Top 10)

In [48]:
dane.groupby('Bandera')['Długość (metry)'].mean().sort_values(ascending = False).head(10)

Bandera
Isle of Man                 379.749410
Denmark                     369.096494
Kuwait                      333.583333
Liberia                     327.549186
Hong Kong                   322.034526
Japan                       291.970000
Bermuda                     288.500000
Iran Islamic Republic of    274.000000
India                       254.778571
Cyprus                      254.252619
Name: Długość (metry), dtype: float64

Wg. przynależności państwowej statków, jaka jest **średnia największa** ich **pojemność brutto** (tony)? (Top 10)

In [49]:
dane.groupby('Bandera')['Pojemność brutto (tony)'].mean().sort_values(ascending = False).head(10)

Bandera
Kuwait                      160243.000000
Hong Kong                   132319.726316
Denmark                     103773.544693
Japan                        93182.000000
Bermuda                      88539.000000
Iran Islamic Republic of     81479.000000
Hong Kong                    81119.792857
India                        65479.714286
Greece                       64022.824885
Cayman Islands               61371.000000
Name: Pojemność brutto (tony), dtype: float64

## Zadanie - 6 (dodatkowe)

Opracuj to zadanie wg. kroków:
* Stwórz bazę `SQLite`
* Wczytaj dane do stworzonej bazy wykorzystując Data Frame obcięty do 10K wierszy z zadania N5
* Opracuj zapytania SQL, które pozwolą odpowiedzieć na pytania:
> 1) Wg. przynależności państwowej statków, skąd są średnio **najkrótsze statki**, które wychodzą z portu Gdańsk? (Top 10 - bander z średnio najkrótszymi statkami)<br><br>
> 2) Wg. przynależności państwowej statków, jaka jest **średnia** ich **pojemność brutto** (tony)? (Top 10 - bander z średnio najemniejszą pojemnością statków)

![database](https://media.giphy.com/media/4FQMuOKR6zQRO/giphy.gif)